html 
    head 
        title chyba
        link(rel='stylesheet'
href='https://getbootstrap.com/docs/4.4/dist/css/bootstrap.min.css')
        style
            include css/style.css


    body
      header.jumbotron.text-center.bg-danger.text-white
        h1  #{nadpis}     
      main.container
        div.alert.alert-danger #{chyba}      
        a.btn.btn-blue.mt-6.mb-4(href="/") Zpět na formulář              
      footer.bg-danger.p-3.text-white.text-center.fixed-bottom
        p &copy;2022 - IT2, Michaela Říčná  
        script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js')
        script(src='https://getbootstrap.com/docs/4.4/dist/js/bootstrap.bundle.min.js')
